@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
/*=============== Common classes ===============*/

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// color
.clr-primary {
  color: v.$clr--primary;
}

//hover
.hover {
  @include m.easeOut();
  &:hover {
    color: v.$clr--primary;
  }
  &.hover-spacing {
    &:hover {
      letter-spacing: 3px;
    }
  }
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

// section
.section {
  padding-top: 70px;
  padding-bottom: 70px;
  &__title {
    margin-bottom: 50px;
    font-size: 2.5rem;
    display: inline-block;
    @include m.pseudo('after') {
      width: 60%;
      height: 0;
      border-bottom: 1px solid v.$clr--primary;
      bottom: -5px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

// text center
.text-center {
  text-align: center;
}